.todo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.todo-wrapper {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid grey; */
    align-items: baseline;
    width: 90%;
    margin-left: 70px;
}

.bullet-point {
    display: flex;
    flex-direction: column;
    font-size: large;
    color: rgb(117, 107, 50);
}

.todo-text {
    width: 60%;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.todo-buttons {
    display: flex;
    align-content: flex-start;
}

.todo-buttons > p:hover {
    cursor: pointer;
    transform: scale(1.2);
    
}

.todo-buttons > p:hover .tooltip-text {
    visibility: visible;
    opacity: 0.9;
}

.todo-buttons > p {
    margin-right: 13px;
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
}

.todo-buttons > p .tooltip-text {
    visibility: hidden;
    width: 50px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    border-radius: 6px;
}

.tooltip-text {
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 48px;
    margin-left: -60px;
    font-size: 0.8rem;
}