.App {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #272b32;
  color: #fff;
  font-family: 'Caveat', cursive;
  box-sizing: border-box;
}

.main {
  height: 80vh;
}

.heading-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}

.heading-wrapper {
  display: flex;
  align-items: center;
  height: auto
}

.span {
  color: goldenrod;
}

.footer-container {
  width: 100%;
  /* height: 20vh; */
}

@media screen and (max-width: 850px) {
  .main {
    min-height:1000px;
    max-height: auto;
    overflow: scroll;
  }
  
  .footer-container {
    /* height: auto; */
  }



  
}